{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if deliverables|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Deliverables found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Summary</th>
                                    <th>Due Date</th>
                                    <th>Project ID</th>
                                    <th>Last Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deliverables in deliverables %}
                                    <tr>
                                        <td> {{ deliverables.title }} </td>
                                        <td> {{ deliverables.summary }} </td>
                                        <td> {{ deliverables.due_date }} </td>
                                        <td> {{ deliverables.project_id }} </td>
                                        <td> {{ deliverables.last_update }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
