{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if orgs|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Organizations found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Abbreviation</th>
                                    <th>Name</th>
                                    <th>Street</th>
                                    <th>Street Number</th>
                                    <th>Postal Code</th>
                                    <th>City</th>
                                    <th>Last Update</th>
                                    <th>Modify</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for orgs in orgs %}
                                    <tr>
                                        <td> {{ orgs.organization_id }} </td>
                                        <td> {{ orgs.abbreviation }} </td>
                                        <td> {{ orgs.organization_name }} </td>
                                        <td> {{ orgs.street }} </td>
                                        <td> {{ orgs.street_number }} </td>
                                        <td> {{ orgs.postal_code }} </td>
                                        <td> {{ orgs.city }} </td>
                                        <td> {{ orgs.last_update }} </td>
                                        <td>
                                            <a type="button" onclick="setModalFields(this)"
                                            data-toggle="modal"
                                            data-id = "{{orgs.organization_id}}"
                                            data-abbrev="{{orgs.abbreviation}}"
                                            data-organization_name= "{{orgs.organization_name}}"
                                            data-street="{{orgs.street}}"
                                            data-street_num="{{orgs.street_number}}"
                                            data-postal="{{orgs.postal_code}}"
                                            data-city="{{orgs.city}}"
                                            data-last_update="{{orgs.last_update}}"
                                            data-bs-toggle = "modal"
                                            data-bs-target="#editModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <button
                                            style = "all: unset; cursor: pointer;"
                                            type = "button"
                                            data-bs-toggle = "modal"
                                            data-bs-target = "#deleteModal"
                                            data-id = "{{ orgs.organization_id }}"
                                            onclick = "setDeleteModalFields(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit modal -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Organization</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.abbreviation(id = "abbreviation", required = False) }}
                        {{ form.organization_name(id = "organization_name", required = False) }}
                        {{ form.street(id = "street", required = False) }}
                        {{ form.street_number(id = "street_number", required = False) }}
                        {{ form.postal_code(id = "postal_code", required = False) }}
                        {{ form.city(id = "city", required = False) }}
                    </div>
                    <div>
                        {% if form.abbreviation.errors %}
                        <ul class = "errors">
                            {% for error in form.organization_name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.organization_name.errors %}
                        <ul class = "errors">
                            {% for error in form.organization_name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.street.errors %}
                        <ul class = "errors">
                            {% for error in form.street.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.street_number.errors %}
                        <ul class = "errors">
                            {% for error in form.street_number.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.postal_code.errors %}
                        <ul class = "errors">
                            {% for error in form.postal_code.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.city.errors %}
                        <ul class = "errors">
                            {% for error in form.city.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" id= "btn-secondary" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete Organization</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                All associated entities will be deleted too. Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" id= "btn-secondary" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script>
    function setModalFields(row) {
        document.getElementById("abbreviation").value = row.getAttribute("data-abbrev");
        document.getElementById("organization_name").value = row.getAttribute("data-organization_name");
        document.getElementById("street").value = row.getAttribute("data-street");
        document.getElementById("street_number").value = row.getAttribute("data-street_num");
        document.getElementById("postal_code").value = row.getAttribute("data-postal");
        document.getElementById("city").value = row.getAttribute("data-city");
        document.getElementById("modal-form").action = "/org/update/" + row.getAttribute("data-id");
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/org/delete/" + row.getAttribute("data-id");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>

{% endblock content %}
