{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if phone_numbers|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Phone numbers found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Organization ID</th>
                                    <th>Phone number</th>
                                    <th>Last Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for phone_number in phone_numbers %}
                                    <tr>
                                        <td> {{ phone_number.organization_id }} </td>
                                        <td> +30 {{ phone_number.p_number }} </td>
                                        <td> {{ phone_number.last_update }} </td>
                                        <td>
                                            <button
                                            style = "all: unset; cursor: pointer;"
                                            type = "button"
                                            data-bs-toggle = "modal"
                                            data-bs-target = "#deleteModal"
                                            data-p_number = "{{ phone_number.p_number }}"
                                            onclick = "setDeleteModalFields(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete phone number</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                All associated entities will be deleted too. Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" id= "btn-secondary" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script>
    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/phone_number/delete/" + row.getAttribute("data-p_number");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>

{% endblock content %}
