{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if pr_re|length == 0 %}
                    <h1 style="margin-top: 5rem;">No number of projects per researcher found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Last name</th>
                                    <th>First name</th>
                                    <th>Number of projects</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pr_re in pr_re %}
                                    <tr>
                                        <td> {{ pr_re.last_name }} </td>
                                        <td> {{ pr_re.first_name }} </td>
                                        <td> {{ pr_re.num_of_proj }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
