{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if researcher|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Researcher found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Last name</th>
                                    <th>Sex</th>
                                    <th>Organizatiton ID</th>
                                    <th>Birth Date</th>
                                    <th>Start Date</th>
                                    <th>Last Update</th>
                                    <th>Modify</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in researcher %}
                                    <tr>
                                        <td> {{ researcher.researcher_id }} </td>
                                        <td> {{ researcher.first_name }} </td>
                                        <td> {{ researcher.last_name }} </td>
                                        <td> {{ researcher.sex }} </td>
                                        <td> {{ researcher.organization_id }} </td>
                                        <td> {{ researcher.date_of_birth }} </td>
                                        <td> {{ researcher.start_date }} </td>
                                        <td> {{ researcher.last_update }} </td>
                                        <td>
                                            <a type="button" onclick="setModalFields(this)"
                                            data-toggle="modal"
                                            data-id = "{{researcher.researcher_id}}"
                                            data-first_name="{{researcher.first_name}}"
                                            data-last_name= "{{researcher.last_name}}"
                                            data-sex="{{researcher.sex}}"
                                            data-date_of_birth="{{researcher.date_of_birth}}"
                                            data-start_date="{{researcher.start_date}}"
                                            data-organization_id="{{researcher.organization_id}}"
                                            data-last_update="{{researcher.last_update}}"
                                            data-bs-toggle = "modal"
                                            data-bs-target="#editModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <button
                                            style = "all: unset; cursor: pointer;"
                                            type = "button"
                                            data-bs-toggle = "modal"
                                            data-bs-target = "#deleteModal"
                                            data-id = "{{ researcher.researcher_id }}"
                                            onclick = "setDeleteModalFields(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Edit modal -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Researcher</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.first_name(id = "first_name", required = False) }}
                        {{ form.last_name(id = "last_name", required = False) }}
                        {{ form.sex(id = "sex", required = False) }}
                        {{ form.date_of_birth(id = "date_of_birth", required = False) }}
                        {{ form.start_date(id = "start_date", required = False) }}
                        {{ form.organization_id(id = "organization_id", required = False) }}
                    </div>
                    <div>
                        {% if form.first_name.errors %}
                        <ul class = "errors">
                            {% for error in form.first_name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.last_name.errors %}
                        <ul class = "errors">
                            {% for error in form.last_name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.sex.errors %}
                        <ul class = "errors">
                            {% for error in form.sex.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.date_of_birth.errors %}
                        <ul class = "errors">
                            {% for error in form.date_of_birth.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.start_date.errors %}
                        <ul class = "errors">
                            {% for error in form.start_date.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.organization_id.errors %}
                        <ul class = "errors">
                            {% for error in form.organization_id.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" id= "btn-secondary" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete Researcher</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                All associated entities will be deleted too. Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" id= "btn-secondary" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script>
    function setModalFields(row) {
        document.getElementById("first_name").value = row.getAttribute("data-first_name");
        document.getElementById("last_name").value = row.getAttribute("data-last_name");
        document.getElementById("sex").value = row.getAttribute("data-sex");
        document.getElementById("date_of_birth").value = row.getAttribute("data-date_of_birth");
        document.getElementById("start_date").value = row.getAttribute("data-start_date");
        document.getElementById("organization_id").value = row.getAttribute("data-organization_id");
        document.getElementById("modal-form").action = "/researcher/update/" + row.getAttribute("data-id");
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/researcher/delete/" + row.getAttribute("data-id");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>

{% endblock content %}
