{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if tables|length == 0 %}
                    <h1 style="margin-top: 5rem;">No tables Found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>See data</th>
                                    <th>Insert data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for table, name in tables|zip(names) %}
                                    <tr>
                                        <td> {{ name }} </td>
                                        <td>
                                        <a class="btn btn-primary" id="show-btn" href="/{{table.Tables_in_HFRI}}">Show</a>
                                        </td>
                                        {% if table.Tables_in_HFRI!="p_per_org" and table.Tables_in_HFRI!="pr_re" %}
                                        <td>
                                        <a class="btn btn-primary" id="show-btn" href="/{{table.Tables_in_HFRI}}/insert">Insert</a>
                                        </td>
                                        {% else %}
                                        <td>
                                        <p> Insertion is not allowed </p>
                                        <td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
