{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if works_on|length == 0 %}
                    <h1 style="margin-top: 5rem;">No researchers and projects found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Project ID</th>
                                    <th>Researcher ID</th>
                                    <th>Last Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for works_on in works_on %}
                                    <tr>
                                        <td> {{ works_on.project_id }} </td>
                                        <td> {{ works_on.researcher_id }} </td>
                                        <td> {{ works_on.last_update }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
